<div class="span2"><%= link_to "Главная", "#" %></div>
<div class="span2"><%= link_to "Новости", "#" %></div>
<div class="span2"><%= link_to "Статьи", "#" %></div>
<div class="span2"><%= link_to "Салоны", "#" %></div>
<div class="span2"><%= link_to "Карта", "#" %></div>
<div class="span2"><%= link_to "О проекте", "#" %></div>